
Solution/\.vs/Projekt/v15/ipch/AutoPCH/

Solution/Debug/*.obj

Solution/Release/*.obj

*.log

*.exe

*.pdb

*.tlog

*.idb

*.ipdb

*.iobj

Solution/\.vs/Projekt/v15/Browse\.VC\.opendb

Solution/\.vs/Projekt/v15/Browse\.VC\.db

Solution/\.vs/Projekt/v15/\.suo
